$beige: #ffe7d8;
$purple: #2f1c3a;
$max-width:1024px;
$padding-default:3.125em; 

*{
	box-sizing:border-box;
}
a{
	text-decoration:none;
	color:$purple;
}
html, body, #wrapper {height:100%; font-family:sans-serif;}

body{
	font-family: brandon-grotesque, sans-serif;
	background: $beige;
	font-size:100%;
}

.wrapper{ 
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto  (-$padding-default); 
}

#head{
	width:100%;
	min-height:100px;
	background:$purple;
	img{
		max-width:100%;
	}
}

.center{
	max-width: $max-width;
	margin: 0 auto;
	min-height:100%;

}

.cta{
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;  
	border-radius: 3px; 
	-webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.75);

	line-height:2em;
	font-size:1.25em;
	font-style:italic;
	padding:.3em 1.6em;

	background: #792c41; /* Old browsers */
	background: -moz-linear-gradient(top,  #792c41 0%, #3d1f3b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#792c41), color-stop(100%,#3d1f3b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #792c41 0%,#3d1f3b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #792c41 0%,#3d1f3b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #792c41 0%,#3d1f3b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #792c41 0%,#3d1f3b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#792c41', endColorstr='#3d1f3b',GradientType=0 ); /* IE6-9 */

	color:$beige;
	font-weight: 400;
}

#main{
	max-width: $max-width;
	padding:$padding-default;
	> div{
		float:left;
		min-height:20px;
	}
	.copy{
		font-size:1.5em;
		line-height:1.3333em;
	}
	#headShot{
		width:31.49%;
		img{max-width:100%;}
	}
	#intro{
		width:68.5%;
		padding-left:2.08em;
		p{
			padding-bottom:2.08em;
		}
	}
	#questions{
		#left{
			width:30%;
			float:left;
		}
		#right{
			width:70%;
			float:left;
		}
	}	
}

#footer{
	background:$purple;
	color:$beige;
	height: $padding-default; /* .push must be the same height as .footer */

}



