$beige: #ffe7d8;
$purple: #2f1c3a;
$max-width:1024px;

html, body, #wrapper {height:100%; font-family:sans-serif;}

body{
	background: $beige;
	font-size:100;
}

#head{
	width:100%;
	background: $purple;
	min-height:100px;
	img{
		max-width:100%;
	}
}
#container{
	
}
.center{
	max-width: $max-width;
	margin: 0 auto;
}
#questions{
	max-width: $max-width;
	min-height:400px;
	background:red;
	overflow:hidden;
	#left{
		width: 30%;
		min-height:160px;
		background:blue;
		float:left;
	}
	#right{
		width:70%;
		min-height:160px;
		background:yellow;
		float:left;
		#head{
			backgorund:green;
			min-height:60px;
		}
		#main{
			backgorund:yellow;
			min-height:60px;
		}
	}		
}