$beige: #ffe7d8;
$purple: #2f1c3a;
$max-width:1024px;
$padding-default:3.125em;
$btn-dimensions:1.6em;

*{
	 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
a{
	text-decoration:underline;
	color:#000;
}
html, body{height:100%;}
 
body{
	font-family: brandon-grotesque, sans-serif;
	background: $beige;
	font-size:100%; 
}

#wrapper{  
	min-height: 100%;
	height: auto !important;
	margin: 0 auto  (-$padding-default); 
}

#head{
	width:100%;
	min-height:100px;
	background:$purple;
	img{
		max-width:100%;
	}
}

.center{
	max-width: $max-width;
	margin: 0 auto;
	min-height:100%;

}

.cta{
	font-family: brandon-grotesque, sans-serif;

	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;  
	border-radius: 3px; 
	-webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.75);
	overflow:hidden;

	text-decoration:none;
	line-height:1.7em;
	height:1.6em;
	font-size:1.25em;
	font-style:italic;
	padding: 0 1.6em;

	background: #792c41; /* Old browsers */
	background: -moz-linear-gradient(top,  #792c41 0%, #3d1f3b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#792c41), color-stop(100%,#3d1f3b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #792c41 0%,#3d1f3b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #792c41 0%,#3d1f3b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #792c41 0%,#3d1f3b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #792c41 0%,#3d1f3b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#792c41', endColorstr='#3d1f3b',GradientType=0 ); /* IE6-9 */

	display: inline-block;
	border:none;
	color:$beige;
	font-weight: 400;
}

#main{
	max-width: $max-width;
	padding:$padding-default;
	//min-height:520px;
	> div{
		float:left;
		min-height:20px;
		width:100%;
	}
	.copy{
		font-size:1.5em;
		line-height:1.3333em;
		padding-bottom:4em;
	}
	#headShot{
		width:31.49%;
		img{max-width:100%;}
	}
	#intro{
		width:68.5%;
		padding-left:2.08em;
	}
	.heading{
		font-weight:800;
		font-size:1.255em;
		text-transform:uppercase;
		padding-bottom:.85em;

		color:#9a354e;
		background: -webkit-linear-gradient(#561824, #bf4869);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		
	}
	p{
		padding-bottom:1.5em;
	}
	span.lrg{
		text-transform: uppercase;
		font-size:1.5em;
		display:inline;
	}
	h3.lrg{
		text-transform: uppercase;
		font-size:1.3em;
		padding:1em 0;
		width:100%;
		a{
			text-decoration: underline;
		}
	}
	.btn{
		
		font-weight:800;
		font-size:1em;
		width: $btn-dimensions;
		height: $btn-dimensions;
		border-radius:$btn-dimensions;
		text-align: center;
		line-height:$btn-dimensions;
		display:inline-block;
		padding-left:.1em;
		//color: -webkit-linear-gradient(#571824, #be4768);
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;
		text-decoration: none;
		-webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    2px 2px 2px rgba(50, 50, 50, 0.75);
		box-shadow:         2px 2px 2px rgba(50, 50, 50, 0.75);
		
		// text-shadow: #000 -1px -1px 1px;
		background: #fffdfc; /* Old browsers */
		background: -moz-linear-gradient(top,  #fffdfc 0%, #f2d4c1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffdfc), color-stop(100%,#f2d4c1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fffdfc 0%,#f2d4c1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fffdfc 0%,#f2d4c1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fffdfc 0%,#f2d4c1 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fffdfc 0%,#f2d4c1 100%); /* W3C */
		
		color:#892c41;
		z-index:10;
		position:absolute;
	}
	
	.btn:active{
			-webkit-box-shadow: inset 2px 2px 2px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    inset 2px 2px 2px rgba(50, 50, 50, 0.75);
			box-shadow:         inset 2px 2px 2px rgba(50, 50, 50, 0.75);

			background: -moz-linear-gradient(top,  #f2d4c1 0%, #fffdfc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2d4c1), color-stop(100%,#fffdfc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f2d4c1 0%,#fffdfc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f2d4c1 0%,#fffdfc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f2d4c1 0%,#fffdfc 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f2d4c1 0%,#fffdfc 100%); /* W3C */
		}

	ul.questionTable{
		li{
			min-height:$btn-dimensions;
			margin: 0 0 .5em ($btn-dimensions) + .5em;
			padding-top:.2em;
			position:relative;
			z-index:9;

		}
	}
	#questions{
		#left{
			width:30%;
			float:left;
			img{
				max-width:100%;
			}
		}
		#right{
			width:70%;
			float:left;
			span{
				font-style: italic;
			}
		}
	}	
}
.about span{
	font-weight:600;
	font-style:italic;
}
#footer{
	background:$purple;
	color:$beige;
	height: $padding-default;
	
	ul{
		padding-left:$padding-default;
		li{
			float:left;
			display:block;
			a{
				line-height:$padding-default;
				text-decoration:none;
				color:$beige;
				font-weight:600;
				padding: 0 2.5em 0 0;
				text-transform:lowercase;
			}
			a:hover{
				text-decoration:underline;
			}
		}
	}
	h2{
		float:right;
		line-height:$padding-default;
		padding-right:$padding-default;
	}
}

@media (max-width: 721px) {
    #main, #footer{
    	font-size:.85em;
    }
    #wrapper{  
		margin-bottom: (-$padding-default * .85); 
	}
	#footer ul li a {
		padding-right:.5em
	}
}
